<?xml version='1.0' encoding='utf-8' ?>
<plugin id="cordova-iflytek-speech" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>iflytek Speech</name>
    <description>讯飞语音听写，语音合成</description>
    <author>Vontio</author>
    <license>The MIT License (MIT)</license>
    <keywords>cordova,speech,recognizer,synthesizer,iflytek</keywords>
    <repo>https://github.com/vontio/cordova-iflytek-speech.git</repo>
    <issue>https://github.com/vontio/cordova-iflytek-speech/issues</issue>

    <preference name="APP_ID" />

    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>

    <js-module src="www/iflytek.speech.js" name="iflytekSpeech">
        <clobbers target="window.plugins.speech" />
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="application">
            <meta-data android:name="iflytek.speech.AppId" android:value="$APP_ID"/>
        </config-file>

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Speech">
                <param name="android-package" value="com.iflytek.cordova.speech.Speech" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="android/Speech.java" target-dir="src/com/iflytek/cordova/speech" />
        <source-file src="android/libs/armeabi/libmsc.so" target-dir="libs/armeabi" />
        <source-file src="android/libs/Msc.jar" target-dir="libs" />
        <source-file src="android/libs/Sunflower.jar" target-dir="libs" />
    </platform>
</plugin>